* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: goldenrod;
    margin: 10;
    padding: 10;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    min-height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}




.pac-man-container {
    margin: 0px 0px 100px 0px;
    position: absolute;
}

.grid {
    width: 436px;
    height: 436px;
    border: solid antiquewhite 8px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 15px;
    height: 15px;
}

.wall {
    background-color: thistle;
}

.ghost-lair {
    background-color: antiquewhite;
}

.power-pellet {
    background-color: wheat;
    border-radius: 7.5px;
}

.pac-dot {
    background-color: white;
    border: 5px solid antiquewhite;
    box-sizing: border-box;
}

.pac-man {
    background-color: burlywood;
    border-radius: 7.5px;
    border: none;
}

.inky {
    background-color: skyblue;
    border: none;
}

.blinky {
    background-color: goldenrod;
    border: none;
}

.pinky {
    background-color: seagreen;
    border: none;
}

.clyde {
    background-color: sandybrown;
    border: none;
}

.scared-ghost {
    background-color: gainsboro;
    border: none;
}

.scoreboard {
    font-size: 20px;
    margin: 0px 0px 0px 7px;
}

#score {
    font-size: 42px;
    z-index: 100;
    color: cadetblue;
    font-family: cursive;
    margin-left: 10px;
}




.robot-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0px 700px 200px 0px;
}

.robot {
    position: absolute;
}

.antenna {
    margin-left: 52.5px;
    width: 5px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 2px 2px 0px 0px;
}

.head {
    margin-left: 2.5px;
    height: 50px;
    width: 105px;
    background-color: whitesmoke;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.mask {
    margin-top: 12.5px;
    height: 25px;
    width: 75px;
    background-color: saddlebrown;
    border-radius: 12.5px;
    display: flex;
    justify-content: space-between;
}

.eye {
    margin: 4.5px 10px;
    width: 16px;
    height: 16px;
    background-color:blueviolet;
    border-radius: 8px;
}

.torso {
    margin-top: 10px;
    background-color: whitesmoke;
    width: 110px;
    height: 100px;
    border-radius: 25px 25px 50px 50px;
}





.quote-container {
    width: 100vw;
    margin: 0px 0px -600px 0px;
    position: absolute;
    margin-top: 0px;
}

#quote {
    font-size: 42px;
    z-index: 100;
    color: rebeccapurple;
    font-family: cursive;
    letter-spacing: .3em;
}
  
.quote-button {
    background-color: violet;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-left: 200px;;
}





.tracking-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 90vw;
    margin: 0px 20px 530px 20px;
}

.title-right {
    text-align: right;
}

.box {
    background-color: papayawhip;
    color: yellowgreen;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin: 0px;
    padding: 20px;
}

.button-container {
    margin: 0px;
    height: 26px;
    position: absolute;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

#left {
    margin: 0px 145px 0px 0px;
}

#right {
    margin: 0px 0px 0px 145px;
}

.track-button {
    background-color: royalblue;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px 10px;
}




.traffic-light-container {
    background-color: gainsboro;
    position: absolute;
    z-index: -100;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 15px 0;
	height: 200px;
    width: 70px;
    margin: 300px 0px 0px 700px;
}

.circle {
	background-color: rgba(167, 192, 163, 0.26);
	border-radius: 100%;
	position: relative;
	height: 40px;
	width: 40px;
}

.circle::after {
	border-right: 4px solid rgba(207, 231, 217, 0.774);
	border-radius: 100%;
	content: ' ';
	position: absolute;
	top: 5px;
	left: 0px;
	width: 30px;
	height: 30px;
}

.circle.red {
	background-color: #c03a2b6e;
	box-shadow: 0 0 20px 5px #c03a2b57;
}

.circle.yellow {
	background-color: #f1c40f60;
	box-shadow: 0 0 20px 5px #f1c40f3f;
}

.circle.green {
	background-color: #2ecc703d;
	box-shadow: 0 0 20px 5px #2ecc7052;
}





header {
    text-decoration: none;
    font-weight: normal;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}