html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100vw;
    background-color: antiquewhite;
}

.grid {
    margin-top: 50px;
    width: 360px;
    height: 360px;
    border: solid whitesmoke 8px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.wall {
    background-color: thistle;
}


.power-pellet {
    background-color: wheat;
    border-radius: 10px;
}

.pac-dot {
    background-color: white;
    border: 5px solid antiquewhite;
    box-sizing: border-box;
}

.pac-man {
    background-color: burlywood;
    border-radius: 10px;
}

.inky {
    background-color: skyblue;
}

.blinky {
    background-color: goldenrod;
}

.pinky {
    background-color: seagreen;
}

.clyde {
    background-color: sandybrown;
}



header {
    text-decoration: none;
    font-weight: normal;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}